.banner-container {
    width: 100%;
    height: 500px;
    background-color: rgb(18, 24, 72);
    color: #fff;
    padding: 40px 180px;
    text-align: center;
    .banner-content {
        margin: 0 auto;
        top: 50%;
        position: absolute;
        margin-top: -100px;
        margin-left: -325px;
        left: 50%;
    }
    button {
        border: none;
        background-color: #B84500;
        color: #fff;
        padding: 10px 70px;
        border-radius: 20px;
        margin-top: 30px;
    }
}