.contact-container {
    background-color: #14123B;
    color: #fff;
    form {
        text-align: left;
    }
    .form-control {
        padding: 20px;
        border-radius: 50px;
    }
    p {
        margin-top: 10px;
    }
    .textarea {
        height: 200px;
    }
}