.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.padding__tb--10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding__tb--20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.padding__tb--30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.padding__tb--40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.padding__tb--50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.padding__tb--60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.padding__tb--70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.container {
  width: 1150px !important;
}

button {
  border: none;
  background-color: #B84500;
  color: #fff;
  padding: 10px 70px;
  border-radius: 20px !important;
  margin-top: 30px;
}